.tweet-box {
  transition: box-shadow .9s;
  min-height: 120px;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  border: 4px solid #ccc;
  background: #fff;
};

.chat-img {
    min-height: 120px;
    padding-left: 12em;
    justify-content: space-between;
  }

.chat-username {
  padding-left: 12em;
  color:black;
  font-family: "sans-serif";
}

.foot-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.hr {
  margin: 0;
  padding: 0;
}